//<Hover> =====================================
.hover {
	position: relative;
	top: 0;
	outline: none;
	border-bottom: 1px solid transparent;
	transition: color $hoverTime ease-in;

	@include md-min {
		&:focus {
			border-bottom-color: $brandColor;
		}

		&:hover {
			color: $brandColor;
		}
	}

	&:active {
		top: 1px;
	}
}
