.header {
	position: relative;
	padding: 29px 0;

	@include xl {
		padding: 15px 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black-480;
	}

	// .header__content
	&__content {
		display: grid;
		row-gap: 30px;
		grid-template-areas:
			"phones search lang"
			"logo nav social";
		align-items: center;

		@include xl {
			grid-template-columns: auto;
			grid-template-areas:
				"logo phones lang"
				"search search social"
				"nav nav nav";
			justify-content: space-between;
			align-items: center;
			row-gap: 25px;
		}

		@include md {
			position: relative;
			// z-index: 2;
			grid-template-columns: auto;
			grid-template-areas:
				"logo logo nav"
				"social social phones"
				"search search lang";
			justify-content: space-between;
		}

		@include sm {
			grid-template-areas:
				"logo nav"
				"phones phones"
				"social lang"
				"search search";
			row-gap: 15px;
		}
	}
}

.logo {
	grid-area: logo;
	position: relative;
	left: 0;
	max-width: 230px;
	width: 100%;
	height: 100%;
	font-weight: 300;
	font-size: 14px;
	outline: transparent;
	border: 1px solid transparent;
	transition: border-color $hoverTime ease-in, box-shadow $hoverTime ease-in;

	@include md-min {
		&:focus {
			border-bottom-color: $brandColor;
		}
	}

	&:active {
		top: 1px;
	}

	@include xl {
		z-index: 7;
		justify-self: center;
		align-items: center;
	}

	@include md {
		justify-self: self-start;
	}

	@include sm {
		max-width: 180px;
		width: 100%;
	}

	&__img {
		width: 100%;
		max-height: 50px;
	}
}

.phones {
	grid-area: phones;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include xl {
		width: 100%;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	@include md {
		&:not(:last-child) {
			margin: 0;
		}
		flex-direction: column;
		align-items: flex-end;
	}

	&__item {
		min-height: 22px;
	}

	// .phones__link
	&__link {
		position: relative;
		font-size: 13px;
		color: $brandColor;
		padding-left: 17px;
		padding-bottom: 2px;

		&::before {
			content: "";
			position: absolute;
			bottom: 4px;
			left: 0;
			width: 12px;
			height: 12px;
			border: 1px solid $black-800;
			background-color: $black-800;
			border-radius: 3px;
			background-image: url("../img/icons_png/phone.png");
			@include bg-cover;
		}

		@include md-min {
			&:hover {
				color: $black-600;
			}
		}
	}
}

.search {
	position: relative;
	grid-area: search;
	max-width: 460px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;

	@include xl {
		margin: 0;
	}

	// .search__label
	&__label {
		width: 100%;
	}

	// .search__input
	&__input {
		display: block;
		width: 100%;
		height: 100%;
		padding: 4px 6px;
		background-color: $white-0f;
		outline: none;
		border: 1px solid transparent;
		transition: border-color $hoverTime ease-in, box-shadow $hoverTime ease-in;

		&::placeholder {
			transition: color $hoverTime ease-in;
		}

		@include md-min {
			&:hover {
				box-shadow: inset 0 0 5px $black-480;
				border-color: $brandColor;

				&::placeholder {
					color: $black-450;
				}
			}

			&:focus {
				border-color: $brandColor;
			}
		}
	}

	// .search__button
	&__button {
		position: relative;
		top: 0;
		display: block;
		max-width: 45px;
		min-height: 37px;
		border-radius: 3px;
		padding: 0 12px;
		font-weight: 700;
		color: $white-0f;
		outline: none;
		box-shadow: inset 0 1px 2px $black-800;
		background-color: $brandColor;
		transition: background-color $hoverTime ease-in, color $hoverTime ease-in;

		@include md-min {
			&:hover {
				background-color: $black-600;
			}

			&:focus {
				color: $black-450;
			}
		}

		&:active {
			top: 1px;
		}
	}
}

.lang {
	grid-area: lang;
	position: relative;
	z-index: 7;
	max-width: 60px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-self: end;

	@include md {
		z-index: 3;
	}

	// .lang__item
	&__item {
		position: relative;
		top: 0;
		max-width: 20px;
		min-height: 12px;
		flex: 0 0 100%;
	}

	// .lang__link
	&__link {
		display: block;
		outline: transparent;
		border: 1px solid transparent;
		transition: border-color $hoverTime ease-in;

		@include md-min {
			&:hover {
				border-bottom-color: $brandColor;
			}

			&:focus {
				border-bottom-color: $black-800;
			}
		}

		&:active {
			top: 1px;
		}
	}

	// .lang__img
	&__img {
		width: 100%;
		height: 100%;
	}
}

.social {
	grid-area: social;
	max-width: 152px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-self: self-end;
	padding-left: 12px;

	@include xl {
		padding: 0;
	}

	@include md {
		justify-self: self-start;
	}

	// .social__item
	&__item {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	// .social__link
	&__link {
		position: relative;
		top: 0;
		display: inline-block;
		outline: transparent;
		padding-bottom: 4px;
		border: 1px solid transparent;

		@include md-min {
			&:focus {
				border-bottom-color: $brandColor;
			}

			&:hover {
				border-bottom-color: transparent;
			}
			&:hover .social__icon {
				fill: $brandColor;
			}
		}

		&:active {
			top: 1px;
		}
	}

	// .social__icon
	&__icon {
		display: block;
		width: 20px;
		height: 20px;
		fill: $white-0f;
		transition: fill $hoverTime ease-in;
	}
}

//.menu
.menu {
	grid-area: nav;
	display: block;
	width: 100%;
	flex: 0 0 100%;
	margin-left: -20px;
	text-transform: uppercase;

	@include xl {
		margin: 0;
	}

	@include md {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// .menu__body
	&__body {
		position: relative;
		z-index: 4;
		width: 100%;
		font-weight: 700;
		font-size: 14px;
		color: $white-0f;

		@include md {
			position: fixed;
			z-index: 4;
			top: 0;
			left: 0;
			align-items: flex-start;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: $black-450;
			box-shadow: 0 0 15px $black-450;
			transform: translate(-110%, 0);
			padding: 100px 20px 30px;
		}

		@include sm {
			padding: 50px 0;
		}

		&.active {
			transform: translate(0, 0);
			padding: 80px 20px 30px;
		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: space-between;
		justify-content: center;

		@include md {
			display: block;
			padding: 25px 0;
			font-size: 18px;
		}

		@include sm {
			font-size: 13px;
		}
	}

	// .menu__item
	&__item {
		position: relative;
		&:not(:last-child) {
			margin: 0 20px 0 0;
		}

		@include md {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}

		@include sm {
			&:not(:last-child) {
				margin: 0 0 15px 0;
			}
		}

		@include md-min {
			&:hover .sub-menu__list {
				max-height: 682px;
				overflow: visible;
				visibility: visible;
				margin-bottom: 25px;
				transition: max-height $hoverTime ease-in, visibility hoverTime ease-in;
			}
		}
	}

	// .menu__link
	&__link {
		position: relative;
		z-index: 3;
		display: block;
		padding-bottom: 2px;
		text-transform: uppercase;
	}
}

.sub-menu {
	// .sub-menu__list
	&__list {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 0;
		min-width: 315px;
		padding: 15px 0 0 0;
		font-size: 11px;
		display: none;
		max-height: 0;
		visibility: hidden;
		transition: max-height $hoverTime ease-in, visibility hoverTime ease-in;

		@include md {
			position: relative;
			padding: 0;
			margin-bottom: 25px;
			box-shadow: 0 0 15px $black-300;
		}
	}

	// .sub-menu__item
	&__item {
		position: relative;
		z-index: 2;
		font-weight: 300;
		background-color: $black-450;
		transition: background-color $hoverTime ease-in;

		&:not(:last-child) {
			border-bottom: 1px solid $black-300;
		}

		@include lg {
			max-width: 775px;
		}

		@include md {
			&:not(:last-child) {
				border-bottom-width: 2px;
			}
		}

		@include md-min {
			&:hover .sub-menu__link {
				background-color: $brandColor;
				transition: background-color $hoverTime ease-in;
			}

			&:hover .sub-sub-menu__list {
				max-height: 700px;
				overflow: visible;
				visibility: visible;
				transition: max-height $hoverTime ease-in;
			}
		}
	}

	// .sub-menu__link
	&__link {
		display: block;
		padding: 10px 15px;
		position: relative;
		z-index: 7;
	}
}

.sub-sub-menu {
	// .sub-sub-menu__list
	&__list {
		position: absolute;
		top: 0;
		left: 100%;
		min-width: 420px;
		width: 100%;
		padding: 0 0 0 2px;
		font-size: 11px;
		background-color: transparent;
		display: none;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
		transition: all $hoverTime ease-in;

		@include xl {
			min-width: 200px;
		}

		@include lg {
			max-width: 220px;
		}

		@include md {
			position: relative;
			max-width: 100%;
			width: 100%;
			padding: 0;
			left: 0;
			border-top: 2px solid $black-300;
			box-shadow: 0 0 25px $black;
			margin: 5px 0 10px;
		}
	}

	// .sub-sub-menu__item
	&__item {
		position: relative;
		z-index: 1;
		background-color: $black-450;
		transition: background-color $hoverTime ease-in;

		@include md {
			padding: 0;
			&:not(:last-child) {
				border-bottom-width: 2px;
			}
		}

		@include md-min {
			&:hover {
				background-color: $brandColor;
			}
		}
	}

	// .sub-sub-menu__link
	&__link {
		display: block;
		padding: 10px 15px;
		border-bottom: 1px solid $black-300;
	}
}

.arrow {
	position: absolute;
	z-index: 9;
	display: inline-block;
	max-height: 0;
	visibility: hidden;
	top: 5px;
	right: 0;
	width: 0;
	height: 0;
	border-top: 10px solid $white;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	transition: all $hoverTime ease-in;
}

.parent {
	padding-right: 25px;
}

.arrow.active {
	transform: rotate(-180deg);
}

body.touch .arrow {
	max-height: 20px;
	visibility: visible;
}

body.touch .sub-menu__list.open {
	display: block;
	max-height: 700px;
	visibility: visible;
}

body.touch .sub-sub-menu__list.open {
	display: block;
	max-height: 682px;
	overflow: visible;
	visibility: visible;
	transition: max-height $hoverTime ease-in, visibility hoverTime ease-in;
}

.sub-menu__arrow.arrow {
	position: absolute;
	right: 10px;
	top: 12px;
	border-bottom: none;
	border-left: 10px solid transparent;
	border-top: 10px solid $white;
	border-right: 10px solid transparent;
}

.sub-menu__arrow.arrow.active {
	transform: rotate(-180deg);
}
