// <ПЕРЕМЕННЫЕ>==================================
$white-0e: #e5e5e5;
$white-0f: #f3f3f3;
$white: #fff;

$black-800: #8b8b8b;
$black-820: rgb(139, 139, 139, 20);
$black-600: #605b55;
$black-480: #484846;
$black-450: #454544;
$black-300: #3a3a3a;
$black-30d: #3d3d3d;
$black: #000;

$brandColor: #87d035;

$hoverTime: 0.2s;
$doubleHoverTime: 0.8s;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1230px;

$screen-xl: 1199.98;
$screen-lg: 991.98;
$screen-md: 767.98;
$screen-sm: 479.98;

$mainFontSize: 18px;
